@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Roboto", "Outfit", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-gray-50);
    color: var(--color-gray-900);
    @apply antialiased;
  }
}